<div class="header">
  <div class="container-titulo">
    <div class="logo-angular">

      <img style="width:100%;object-fit: contain;" src="/assets/images/header/angular-icon.png">
    </div>
    <div class="conteudo">
      <span class="titulo">Olá <img width="50px" src="/assets/images/header/header-emoji.png">,</span><br>
      <span class="sub-titulo" >Eu sou o <span style="color: #ffdc66!important;">Dálan</span></span><br>
      <span class="sub-titulo" >Desenvolvedor Front-end</span><br><br>
      <span class="descricao">Desenvolvi esse projeto em Angular 8, para demonstrar minhas habilidades como desenvolvedor front-end.</span>
    </div>
  </div>
</div>
<!-- <div></div> -->